@model List<User>;
<form id="list_plan_form" method="post" class="row">
    <div class="conteiner">
        <div class="row pt-4">
            <div class="col-6">
                <h2>
                    Користувачі
                </h2>
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Admin" asp-action="AddUser"  class="btn btn-dark">
                    <i class="bi bi-plus-circle-fill"></i> Додати користувача
                </a>
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <tr>
                <th>Повне ім'я</th>
                <th>Email</th>
                <th>Телефон</th> 
                <th>Логін</th>
                <th>Пароль</th>
                <th>Редагувати</th>
                <th>Видалити</th>
            </tr>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Person.FullName</td>
                    <td>@user.Person.Email</td>
                    <td>@user.Person.Phone</td>
                    <td>@user.Login</td>
                    <td></td>
                    <td>
                        <a asp-controller="Admin" asp-action="EditUser" asp-route-id="@user.Id" class="btn btn-info mx-2">
                            <i class="bi bi-opencollective"></i>Редагувати
                        </a>
                    </td>
                    <td>
                        <a asp-controller="Admin" asp-action="DeleteUser" asp-route-id="@user.Id" class="btn btn-danger mx-2">
                            <i class="bi bi-opencollective"></i>Видалити
                        </a>
                    </td>

                </tr>
            }
        </table>
    </div>
</form>